<div class="mt-2 p-2 bg-secondary text-white rounded">
  <h1>Template Form</h1>
  <h3>with ngModel</h3>
  </div>
<div class="row">


  <form class="row g-3 needs-validation" novalidate>
    <div class="col-md-4">
      <label for="validationCustom01" class="form-label">First name</label>
      <input type="text" name="firstName" #fName="ngModel" class="form-control" [(ngModel)]="userObj.firstName" id="validationCustom01" value="Mark" required minlength="8">
      <div class="text-danger">
        @if(fName.errors?.['required']){
          <span>This is Required</span>
        }
        @else if(fName.errors?.['minlength']){
          <span>Min 8 Char required</span>
        }

      </div>
    </div>
    <div class="col-md-4">
      <label for="validationCustom02" class="form-label">Last name</label>
      <input type="text" name="lastName" class="form-control" [(ngModel)]="userObj.lastName" id="validationCustom02" value="Otto" required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="col-md-4">
      <label for="validationCustomUsername" class="form-label">Username</label>
      <div class="input-group has-validation">
        <span class="input-group-text" id="inputGroupPrepend">&#64;</span>
        <input type="text" name="username" class="form-control" [(ngModel)]="userObj.username" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
        <div class="invalid-feedback">
          Please choose a username.
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <label for="validationCustom03" class="form-label">City</label>
      <input type="text" name="city" class="form-control" [(ngModel)]="userObj.city" id="validationCustomUsername" id="validationCustom03" required>
      <div class="invalid-feedback">
        Please provide a valid city.
      </div>
    </div>
    <div class="col-md-3">
      <label for="validationCustom04" class="form-label">State</label>
      <select class="form-select" name="state" [(ngModel)]="userObj.state" id="validationCustom04" required>
        <option selected disabled value="">Choose...</option>
        <option>Punjab</option>
        <option>Kpk</option>
      </select>
      <div class="invalid-feedback">
        Please select a valid state.
      </div>
    </div>
    <div class="col-md-3">
      <label for="validationCustom05" class="form-label">Zip</label>
      <input type="text" name="zipCode" class="form-control" [(ngModel)]="userObj.zipCode" id="validationCustom05" required>
      <div class="invalid-feedback">
        Please provide a valid zip.
      </div>
    </div>
    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" name="isAcceptedterms" [(ngModel)]="userObj.isAcceptedterms" type="checkbox" value="" id="invalidCheck" required>
        <label class="form-check-label"  for="invalidCheck">
          Agree to terms and conditions
        </label>
        <div class="invalid-feedback">
          You must agree before submitting.
        </div>
      </div>
    </div>
    <div class="col-12">
      <button class="btn btn-secondary" (click)="restForm()" type="submit">Reset Form</button>
      <button class="btn btn-primary mx-2" (click)="onSubmit()" type="submit">Submit</button>
    </div>
  </form>

<div class="col-4">
  {{ formValue | json }}
</div>
</div>

